/* asi se comenta en ccs */
/* en ccs se habla de selectores no de etiqteas
selector {
    propiedad:valor;
    }
*/
/*
no se recomineda usar mas de 2 fuentes en todo el proyecto 
 */
@import url("https://fonts.googleapis.com/css2?family=Combo&family=Libre+Baskerville&family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Combo&family=Libre+Baskerville:ital@0;1&family=Ms+Madi&family=Roboto:ital,wght@1,100&display=swap");
/*reseteo de propiedades*/
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "HK Grotesk wf,sans-serif";
  list-style-type: none;
  color: black;
  text-decoration: none;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

body {
  gap: 2px;
  height: 100vh;
  display: grid;
  align-content: stretch;
  grid-template-areas: "header" "main" "footer";
}

.mainNav {
  grid-area: mainNav;
}

.signNav {
  grid-area: signNav;
}

.slogan {
  grid-area: slogan;
}

header {
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 3px solid white;
  background-image: url("../img/headerBackground.JPG");
  background-size: cover;
  background-position: right;
  background-repeat: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-areas: "mainNav mainNav signNav" "slogan  slogan slogan";
}
header a {
  color: white;
  text-decoration: none;
  transition: 1.5s;
  border-bottom: 2.5px solid transparent;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 3.6vw;
}
header a:hover {
  border-color: rgb(238, 89, 230);
  color: white;
}

.slogan {
  color: white;
  font-family: "Ms Madi", cursive;
  margin-left: 40px;
  margin-bottom: 10px;
  font-size: 8vw;
}

.rowNav {
  padding: 1.8px;
  margin: 10px 3px 10px 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.columnNav {
  margin: 3px;
}

.signNav .rowNav {
  margin: 10px 3px 10px 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.photoCategories {
  z-index: 1;
  margin: 5px 2px 5px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: lightgrey;
}
.photoCategories img {
  width: 23vw;
  height: 36vw;
}
.photoCategories img:hover {
  opacity: 0.8;
}

#aImg6 {
  display: none;
}

#aImg12 {
  display: none;
}

#aImg5 {
  display: none;
}

#aImg11 {
  display: none;
}

h2 {
  font-family: "Ms Madi", cursive;
  font-size: 6vw;
  color: black;
  margin-bottom: 5px;
  margin-top: 5px;
}
h2 a {
  font-family: "Ms Madi", cursive;
  text-decoration: none;
  transition: 1.5s;
  border-bottom: 2.5px solid green;
}

h3 {
  font-size: 4vw;
  color: black;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 5px;
}

.content {
  padding: 3vh 5px 3vh 5px;
  background-color: lightgrey;
  margin: 5px 0px 5px 0px;
}
.content p {
  font-size: 2.5vw;
  margin-bottom: 5vh;
}
.content h2 a {
  color: #0080c8;
}
.content h2 a:hover {
  border-color: rgb(238, 89, 230);
}

footer {
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.5) 0%, rgba(25, 74, 7, 0.8) 49%, rgba(0, 0, 0, 0.5) 100%);
  margin-top: 2px;
  padding: 5px;
}
footer .footerParagraph1 {
  font-size: 3.5vw;
}
footer p {
  font-size: 3.5vw;
}
footer img {
  width: 30px;
  height: 30px;
}

.text-center {
  height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
}
.form-signin .sigIn {
  font-family: "Ms Madi", cursive;
  font-size: 80px;
}
.form-signin .checkbox {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
}

.signButtons {
  display: flex;
  gap: 4px;
}

.portfolio {
  padding: 3vh 5px 3vh 5px;
  background-color: lightgrey;
  font-size: 2.5vw;
  padding: 5px;
}
.portfolio .portfolioForm {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.portfolio .portfolioForm .datePicker {
  width: 100px;
  margin-bottom: 10px;
}
.portfolio .portfolioForm .category {
  width: 50vw;
  margin-bottom: 10px;
}
.portfolio .portfolioForm .textArea {
  width: 50vw;
  margin-bottom: 10px;
}
.portfolio .portfolioForm .formElement {
  margin-bottom: 10px;
  width: 50vw;
  font-size: 2.5vw;
}
.portfolio .portfolioForm .form-label {
  margin-bottom: 0px;
  width: 50vw;
}
.portfolio .portfolioForm .formButtons {
  display: flex;
  gap: 4px;
  margin-bottom: 5px;
}
.portfolio .portfolioForm .formButtons a {
  font-size: 2.5vw;
}
.portfolio .portfolioForm .textarea {
  font-size: 2.5vw;
}

@media (min-width: 420px) {
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 3.5vw;
  }
  .content {
    padding: 3vh 5px 3vh 5px;
    background-color: lightgrey;
    margin: 5px 0px 5px 0px;
  }
  .content p {
    font-size: 2vw;
    margin-bottom: 5vh;
  }
  .portfolio {
    padding: 3vh 5px 3vh 5px;
    background-color: lightgrey;
    font-size: 2vw;
    padding: 5px;
  }
  .portfolio .portfolioForm .formButtons {
    display: flex;
    gap: 4px;
    margin-bottom: 5px;
  }
  .portfolio .portfolioForm .formButtons a {
    font-size: 2vw;
  }
  .portfolio .portfolioForm .formElement {
    margin-bottom: 10px;
    width: 50vw;
    font-size: 2vw;
  }
  .portfolio .portfolioForm .textarea {
    font-size: 2vw;
  }
  header a {
    font-size: 2.5vw;
  }
  .columnNav {
    margin: 10px;
  }
  footer img {
    width: 50px;
    height: 50px;
  }
  .photoCategories img {
    width: 16vw;
    height: 24vw;
  }
  #aImg6 {
    display: unset;
  }
  #aImg12 {
    display: unset;
  }
  #aImg5 {
    display: unset;
  }
  #aImg11 {
    display: unset;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 4vw;
  }
  h3 {
    font-size: 3vw;
  }
  .content {
    padding: 3vh 5px 3vh 5px;
    background-color: lightgrey;
    margin: 5px 0px 5px 0px;
  }
  .content p {
    font-size: 1.5vw;
    margin-bottom: 5vh;
  }
  .portfolio {
    padding: 3vh 5px 3vh 5px;
    background-color: lightgrey;
    font-size: 1.5vw;
    padding: 5px;
  }
  .portfolio .portfolioForm .formButtons {
    display: flex;
    gap: 4px;
    margin-bottom: 5px;
  }
  .portfolio .portfolioForm .formButtons a {
    font-size: 1.5vw;
  }
  .portfolio .portfolioForm .formElement {
    margin-bottom: 10px;
    width: 50vw;
    font-size: 1.5vw;
  }
  .portfolio .portfolioForm .textarea {
    font-size: 1.5vw;
  }
  .columnNav {
    margin: 15px;
  }
  footer img {
    width: 60px;
    height: 60px;
  }
  .photoCategories img {
    width: 16vw;
    height: 24vw;
  }
  #aImg6 {
    display: unset;
  }
  #aImg12 {
    display: unset;
  }
  #aImg5 {
    display: unset;
  }
  #aImg11 {
    display: unset;
  }
}/*# sourceMappingURL=style.css.map */